/* Pre styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #005FAC;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s all ease;
}
.primary-btn:hover{
    background-color: #005FAC;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.secondary-btn{
    padding: 10px 20px;
    background-color: #005FAC;
    color: #ffffff;
    border: 1px solid #005FAC;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s all ease;
}
.secondary-btn:hover{
    background-color: #ffffff;
    color: #005FAC;
    border: 1px solid #005FAC;
}


/* Elements styles */
    /* Header styles */
#header{
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}
#header .header-elem{
    width: 500px;
    padding: 120px 120px 150px 0px;
    text-align: right;
}
#header .elem-tittle{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
}
#header .elem-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin: 20px 0px;
}

/* Main section styles */
#main{
    max-width: 1080px;
    margin: 140px auto;
}

/* Main failures section styles */
#main .failure-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#main .failure-img{
    width: 450px;
}
#main .failure{
    width: 40%;
}
#main .failure-tittle{
    font-size: 40px;
    font-weight: 700;
    color: #151414; 
}
#main .failure-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin: 20px 0;
}
#main .failures li{
    list-style-type: none;
    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 400;
    color: #444343;
}

/* Main my plans section styles */
#main .myPlans-tittle{
    margin: 130px 0px 50px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
#main .plans{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#main .plans-tittle{
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0 8px 0;
}
#main .plans-desc{
    font-size: 20px;
    font-weight: 500;
    color: #737272;
}

/* Main mindset and overlay section styles */
#main .mindset{
    margin: 130px 0px;
    border-radius: 8px;

    background-image: url(images/gradient1.png), url(images/watch.png);
}
#main .overlay-contents{
    padding: 50px 0 50px 50px;
    width: 50%;
}
#main .mindset-tittle{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* Footer styles */
#footer{
    background-color: #151414;
    color: #FFFFFF;
}
#footer .footer-contents{
    padding: 130px;
    display: flex;
    justify-content: space-between;
}
#footer .socials{
    width: 50%;
}
#footer .social-tittle{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
#footer .social-disc{
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
#footer .social-phone{
    margin: 20px 0px;
}
#footer .social-icons{
    display: flex;
    align-items: center;
}
#footer .social-icons li{
    list-style-type: none;
}
#footer .social-icons li img{
    width: 80%;
}

#footer .contact-tittle{
    font-size: 25px;
    font-weight: 600;
}
#footer input{
    margin: 20px 0px;
    width: 80%;
    padding: 18px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 8px;
}